<script type="text/javascript" src="https://js-cdn.dynatracelabs.com/jstag/14868fa4215/bf48423sui/c254b52b607012e_complete.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"headline","consent_type":"express","palette":"dark","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"raumberger.dev"});
});
</script>
<script type="text/plain" data-cookie-consent="tracking">dtrum.enable()</script>

<noscript>Free cookie consent management tool by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>

